/*  bak2books.css

    Author:         Babel Fish
    Date:           2022-10-12
    Last Revised:   2022-11-01
    Assignment:     Web Project
    Description:    Website Building
*/

body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1.2em;
    background-color: rgba(255, 246, 235, 1);
    color: rgba(23, 21, 85, 1);
}

header {
    height: 190px;
    width: 900px;
    margin: auto;
    background-color: rgba(255, 246, 235, 1);
    color: rgba(23, 21, 85, 1);
    padding: 25px 0;
}

nav {
    padding: 10px;
    width: 200px;
    height: 300px;
    background-color: rgba(251, 161, 92, 0.64);
    margin-top: 50px;
    float: left;
}

    nav a {
        display: block;
        width: 176px;
        text-align: center;
        margin-right: 5px;
        float: left;
        padding: 5px;
    }

        nav a:link, nav a:visited {
            color: rgba(78, 39, 9, 1);
        }

        nav a:active {
            box-sizing: border-box;
            background-color: rgb(251, 161, 92, 0.64);
            color: rgba( 92, 47, 12, 1);
            border: 1px solid rgba( 46, 28, 115, 1);
        }

        nav a:hover {
            box-sizing: border-box;
            background-color: rgba(243, 153, 83, 1);
            color: rgba( 92, 47, 12,1);
            border: 1px solid rgba( 46, 28, 115, 1);
        }

a {
    text-decoration: underline;
    color: rgba(4, 54, 51, 1);
}

div {
    width: 75%;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 20px;
    margin: auto;
    top: 0;
}

div.floatRight {
    width: 40%; 
    text-align: justify; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin: auto; 
    float: right; 
}

div.floatLeft {
    width: 40%; 
    text-align: justify; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin: auto; 
    float: left; 
}

img.floatLeft {
    display: block;
    float: left;
    margin: 0 15px;
    height: 150px;
}

img.floatRight {
    display: block;
    float: right;
    margin: 0 15px;
    height: 150px;
}

img.gallery {
    width: 250px; 
    height: 350px; 
    margin: 0; 
}

.clearBoth {
    clear: both;
}

footer {
    clear: both;
    width: 100%;
    height: auto;
    bottom: 0;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: rgba(4, 54, 51, 0.8);
    color: rgba(255, 246, 235, 1);
    border-bottom: 1px solid rgba( 66, 192, 157, 1);
    border-top: 1px solid rgba( 36, 162, 157, 1);
}

footer a {
    color:rgba(255, 246, 235, 1);
}

h1, h2 {
    text-align: center;
    width: 75%;
    margin: auto;
    border-bottom: 2px solid rgba(200, 200, 200, .7);
    color: rgba(23, 21, 85, 1);
}

header h1 {
    font-family: 'Luminari';
    font-size: 4em;
    border-width: 0;
    text-align: center;
    
}

header h2 {
    border-width: 0;
    text-align: center;
    font-style: italic;
}

article {
    box-sizing: border-box;
    border: 1px solid /* color here */;
    color: rgba(23, 21, 85, 1);
    padding: 15px;
}


/* Enter your rules above this one */
.cite {
    display: block;
    width: 400px;
    float: right;
    font-size: .8em;
    font-style: italic;
    margin: 10px 100px 20px 0;
}
